/*
Using formula solid
$primary: var(--brand-secondary);
$home: var(--brand-secondary);
$away: #F1F1F1;
$cl: #FFFFFF;
$base: #000825;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin,latin-ext');

.sr-bb {
  font-family: 'Roboto', 'Noto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-align: left;
  background: #000825;
}

.sr-bb.sr-rtl {
  text-align: right;
}

.sr-bb .sr-bb {
  background: none;
}

.sr-bb .srt-base-1 {
  background-color: transparent;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-win {
  background-color: transparent;
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-draw {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
}

.sr-bb .srt-base-1-lose {
  background-color: transparent;
  color: #f1f1f1;
  border-color: #f1f1f1;
}

.sr-bb .srt-base-1-is-active {
  background-color: rgba(252, 163, 17, 0.12);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-is-active-2 {
  background-color: #1a213b;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-is-hoverable:hover {
  background-color: rgba(252, 163, 17, 0.12);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-primary {
  background-color: transparent;
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-home-1 {
  background-color: transparent;
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-away-1 {
  background-color: transparent;
  color: #f1f1f1;
  border-color: #f1f1f1;
}

.sr-bb .srt-base-1-home-2 {
  background-color: transparent;
  color: var(--brand-secondary);
  border-color: #fdca75;
}

.sr-bb .srt-base-1-away-2 {
  background-color: transparent;
  color: #f1f1f1;
  border-color: #fdca75;
}

.sr-bb .srt-base-1-home-3 {
  background-color: transparent;
  color: var(--brand-secondary);
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-away-3 {
  background-color: transparent;
  color: #f1f1f1;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-home-4 {
  background-color: transparent;
  color: #b07517;
  border-color: #b07517;
}

.sr-bb .srt-base-1-away-4 {
  background-color: transparent;
  color: #a9abb4;
  border-color: #a9abb4;
}

.sr-bb .srt-base-1-home-5 {
  background-color: transparent;
  color: #fdc364;
  border-color: #fdc364;
}

.sr-bb .srt-base-1-away-5 {
  background-color: transparent;
  color: #f6f6f6;
  border-color: #f6f6f6;
}

.sr-bb .srt-base-1-background {
  background-color: #000825;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-2 {
  background-color: #000825;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-2-is-active {
  background-color: #1e1b23;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-2-is-hoverable:hover {
  background-color: #1e1b23;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-3 {
  background-color: #1e1b23;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-3-is-active {
  background-color: #2b2222;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-3-is-hoverable:hover {
  background-color: #2b2222;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-3-background {
  background-color: #000825;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-4 {
  background-color: #0d1024;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-5-is-active {
  background-color: #423020;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-5-is-hoverable:hover {
  background-color: #423020;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-6 {
  background-color: transparent;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.3);
}

.sr-bb .srt-primary-1 {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-1-is-active {
  background-color: #e3930f;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-1-is-hoverable:hover {
  background-color: #e3930f;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-1-is-disabled {
  background-color: #ca820e;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-2 {
  background-color: #fdbf58;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-3 {
  background-color: #e3930f;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-4 {
  background-color: #976519;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-5 {
  background-color: #976519;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-5-is-hoverable:hover {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-6 {
  background-color: #fdca75;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-7 {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-8 {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-8-is-active-1 {
  background-color: #e3930f;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-8-is-active-2 {
  background-color: #e3930f;
  color: #000000;
  border-color: #000825;
}

.sr-bb .srt-primary-9 {
  background-color: #4c371f;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-primary-10 {
  background-color: #ca8415;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-11 {
  background-color: #e3930f;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-primary-12 {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: #000000;
}

.sr-bb .srt-primary-13 {
  background-color: #0d1024;
  color: #000000;
  border-color: rgba(252, 163, 17, 0.3);
}

.sr-bb .srt-base-1-primary-1 {
  background-color: transparent;
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-primary-2 {
  background-color: transparent;
  color: #fdbf58;
  border-color: #fdbf58;
}

.sr-bb .srt-base-1-primary-3 {
  background-color: transparent;
  color: #e3930f;
  border-color: #e3930f;
}

.sr-bb .srt-base-1-primary-4 {
  background-color: transparent;
  color: #976519;
  border-color: #976519;
}

.sr-bb .srt-base-1-primary-5 {
  background-color: transparent;
  color: #976519;
  border-color: #976519;
}

.sr-bb .srt-base-1-primary-6 {
  background-color: transparent;
  color: #fdca75;
  border-color: #fdca75;
}

.sr-bb .srt-base-1-primary-7 {
  background-color: transparent;
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-primary-8 {
  background-color: transparent;
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-primary-9 {
  background-color: transparent;
  color: #4c371f;
  border-color: #4c371f;
}

.sr-bb .srt-base-1-primary-10 {
  background-color: transparent;
  color: #ca8415;
  border-color: #ca8415;
}

.sr-bb .srt-base-1-primary-11 {
  background-color: transparent;
  color: #e3930f;
  border-color: #e3930f;
}

.sr-bb .srt-base-1-primary-13 {
  background-color: #000825;
  color: #0d1024;
  border-color: rgba(252, 163, 17, 0.3);
}

.sr-bb .srt-base-1-neutral-1 {
  background-color: transparent;
  color: #212841;
  border-color: #212841;
}

.sr-bb .srt-base-1-neutral-2 {
  background-color: transparent;
  color: #e6e6e9;
  border-color: #e6e6e9;
}

.sr-bb .srt-base-1-neutral-3 {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-neutral-4 {
  background-color: transparent;
  color: #a6a9b3;
  border-color: #a6a9b3;
}

.sr-bb .srt-base-1-neutral-5 {
  background-color: transparent;
  color: #bfc1c9;
  border-color: #bfc1c9;
}

.sr-bb .srt-base-1-neutral-6 {
  background-color: transparent;
  color: #3d4359;
  border-color: #3d4359;
}

.sr-bb .srt-base-1-neutral-7 {
  background-color: transparent;
  color: #a6a9b3;
  border-color: #a6a9b3;
}

.sr-bb .srt-base-1-neutral-8 {
  background-color: transparent;
  color: #212841;
  border-color: #212841;
}

.sr-bb .srt-base-1-neutral-9 {
  background-color: transparent;
  color: #0f1732;
  border-color: #0f1732;
}

.sr-bb .srt-base-1-neutral-10 {
  background-color: transparent;
  color: #1f263f;
  border-color: #1f263f;
}

.sr-bb .srt-base-1-neutral-11 {
  background-color: transparent;
  color: #666b7c;
  border-color: #666b7c;
}

.sr-bb .srt-base-1-neutral-12 {
  background-color: transparent;
  color: #b3b5be;
  border-color: #b3b5be;
}

.sr-bb .srt-base-1-neutral-13 {
  background-color: transparent;
  color: #1a213b;
  border-color: #1a213b;
}

.sr-bb .srt-base-1-is-active-primary {
  background-color: rgba(252, 163, 17, 0.12);
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-is-active-home-1 {
  background-color: rgba(252, 163, 17, 0.12);
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-is-active-away-1 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #f1f1f1;
  border-color: #f1f1f1;
}

.sr-bb .srt-base-1-is-active-home-2 {
  background-color: rgba(252, 163, 17, 0.12);
  color: var(--brand-secondary);
  border-color: #fdca75;
}

.sr-bb .srt-base-1-is-active-away-2 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #f1f1f1;
  border-color: #fdca75;
}

.sr-bb .srt-base-1-is-active-home-3 {
  background-color: rgba(252, 163, 17, 0.12);
  color: var(--brand-secondary);
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-is-active-away-3 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #f1f1f1;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-is-active-home-4 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #b07517;
  border-color: #b07517;
}

.sr-bb .srt-base-1-is-active-away-4 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #a9abb4;
  border-color: #a9abb4;
}

.sr-bb .srt-base-1-is-active-home-5 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #fdc364;
  border-color: #fdc364;
}

.sr-bb .srt-base-1-is-active-away-5 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #f6f6f6;
  border-color: #f6f6f6;
}

.sr-bb .srt-base-1-is-active-primary-1 {
  background-color: rgba(252, 163, 17, 0.12);
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-is-active-primary-2 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #fdbf58;
  border-color: #fdbf58;
}

.sr-bb .srt-base-1-is-active-primary-3 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #e3930f;
  border-color: #e3930f;
}

.sr-bb .srt-base-1-is-active-primary-4 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #976519;
  border-color: #976519;
}

.sr-bb .srt-base-1-is-active-primary-5 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #976519;
  border-color: #976519;
}

.sr-bb .srt-base-1-is-active-primary-6 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #fdca75;
  border-color: #fdca75;
}

.sr-bb .srt-base-1-is-active-primary-7 {
  background-color: rgba(252, 163, 17, 0.12);
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-is-active-primary-8 {
  background-color: rgba(252, 163, 17, 0.12);
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

.sr-bb .srt-base-1-is-active-primary-9 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #4c371f;
  border-color: #4c371f;
}

.sr-bb .srt-base-1-is-active-primary-10 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #ca8415;
  border-color: #ca8415;
}

.sr-bb .srt-base-1-is-active-primary-11 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #e3930f;
  border-color: #e3930f;
}

.sr-bb .srt-base-1-is-active-neutral-1 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #212841;
  border-color: #212841;
}

.sr-bb .srt-base-1-is-active-neutral-2 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #e6e6e9;
  border-color: #e6e6e9;
}

.sr-bb .srt-base-1-is-active-neutral-3 {
  background-color: rgba(252, 163, 17, 0.12);
  color: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-base-1-is-active-neutral-4 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #a6a9b3;
  border-color: #a6a9b3;
}

.sr-bb .srt-base-1-is-active-neutral-5 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #bfc1c9;
  border-color: #bfc1c9;
}

.sr-bb .srt-base-1-is-active-neutral-6 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #3d4359;
  border-color: #3d4359;
}

.sr-bb .srt-base-1-is-active-neutral-7 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #a6a9b3;
  border-color: #a6a9b3;
}

.sr-bb .srt-base-1-is-active-neutral-8 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #212841;
  border-color: #212841;
}

.sr-bb .srt-base-1-is-active-neutral-9 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #0f1732;
  border-color: #0f1732;
}

.sr-bb .srt-base-1-is-active-neutral-10 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #1f263f;
  border-color: #1f263f;
}

.sr-bb .srt-base-1-is-active-neutral-11 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #666b7c;
  border-color: #666b7c;
}

.sr-bb .srt-base-1-is-active-neutral-12 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #b3b5be;
  border-color: #b3b5be;
}

.sr-bb .srt-base-1-is-active-neutral-13 {
  background-color: rgba(252, 163, 17, 0.12);
  color: #1a213b;
  border-color: #1a213b;
}

.sr-bb .srt-home-1 {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: var(--brand-secondary);
}

.sr-bb .srt-away-1 {
  background-color: #f1f1f1;
  color: #000000;
  border-color: #f1f1f1;
}

.sr-bb .srt-home-2 {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: #fdca75;
}

.sr-bb .srt-away-2 {
  background-color: #f1f1f1;
  color: #000000;
  border-color: #fdca75;
}

.sr-bb .srt-home-3 {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: #000825;
}

.sr-bb .srt-away-3 {
  background-color: #f1f1f1;
  color: #000000;
  border-color: #000825;
}

.sr-bb .srt-home-4 {
  background-color: #b07517;
  color: #000000;
  border-color: #b07517;
}

.sr-bb .srt-away-4 {
  background-color: #a9abb4;
  color: #000000;
  border-color: #a9abb4;
}

.sr-bb .srt-home-5 {
  background-color: #fdc364;
  color: #000000;
  border-color: #fdc364;
}

.sr-bb .srt-away-5 {
  background-color: #f6f6f6;
  color: #000000;
  border-color: #f6f6f6;
}

.sr-bb .srt-home-6 {
  background-color: rgba(252, 163, 17, 0.2);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-away-6 {
  background-color: rgba(241, 241, 241, 0.2);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-home-6-is-hoverable:hover {
  background-color: rgba(252, 163, 17, 0.2);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-away-6-is-hoverable:hover {
  background-color: rgba(241, 241, 241, 0.2);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-neutral-1 {
  background-color: #212841;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-neutral-2 {
  background-color: #e6e6e9;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-neutral-3 {
  background-color: rgba(255, 255, 255, 0.12);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-neutral-4 {
  background-color: #a6a9b3;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-neutral-5 {
  background-color: #bfc1c9;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-neutral-6 {
  background-color: #3d4359;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-neutral-7 {
  background-color: #a6a9b3;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-neutral-8 {
  background-color: #212841;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-neutral-9 {
  background-color: #0f1732;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-neutral-10 {
  background-color: #1f263f;
  color: rgba(255, 255, 255, 0.82);
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-neutral-11 {
  background-color: #666b7c;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-neutral-12 {
  background-color: #b3b5be;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-neutral-13 {
  background-color: #1a213b;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-win {
  background-color: var(--brand-secondary);
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-draw {
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-lose {
  background-color: #f1f1f1;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-text-secondary {
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
}

.sr-bb .srt-text-disabled {
  opacity: 0.6;
}

.sr-bb .srt-text-tertiary {
  opacity: 0.7;
}

.sr-bb .srt-primary-1 .srt-text-secondary,
.sr-bb .srt-primary-1.srt-text-secondary,
.sr-bb .srt-primary-1-is-active .srt-text-secondary,
.sr-bb .srt-primary-1-is-active.srt-text-secondary,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-secondary,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-secondary,
.sr-bb .srt-primary-1-is-disabled .srt-text-secondary,
.sr-bb .srt-primary-1-is-disabled.srt-text-secondary,
.sr-bb .srt-primary-2 .srt-text-secondary,
.sr-bb .srt-primary-2.srt-text-secondary,
.sr-bb .srt-primary-3 .srt-text-secondary,
.sr-bb .srt-primary-3.srt-text-secondary,
.sr-bb .srt-primary-4 .srt-text-secondary,
.sr-bb .srt-primary-4.srt-text-secondary,
.sr-bb .srt-primary-5 .srt-text-secondary,
.sr-bb .srt-primary-5.srt-text-secondary,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-secondary,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-secondary,
.sr-bb .srt-primary-6 .srt-text-secondary,
.sr-bb .srt-primary-6.srt-text-secondary,
.sr-bb .srt-primary-7 .srt-text-secondary,
.sr-bb .srt-primary-7.srt-text-secondary,
.sr-bb .srt-primary-8 .srt-text-secondary,
.sr-bb .srt-primary-8.srt-text-secondary,
.sr-bb .srt-primary-8-is-active-1 .srt-text-secondary,
.sr-bb .srt-primary-8-is-active-1.srt-text-secondary,
.sr-bb .srt-primary-8-is-active-2 .srt-text-secondary,
.sr-bb .srt-primary-8-is-active-2.srt-text-secondary,
.sr-bb .srt-primary-9 .srt-text-secondary,
.sr-bb .srt-primary-9.srt-text-secondary,
.sr-bb .srt-primary-10 .srt-text-secondary,
.sr-bb .srt-primary-10.srt-text-secondary,
.sr-bb .srt-primary-11 .srt-text-secondary,
.sr-bb .srt-primary-11.srt-text-secondary,
.sr-bb .srt-primary-12 .srt-text-secondary,
.sr-bb .srt-primary-12.srt-text-secondary,
.sr-bb .srt-primary-13 .srt-text-secondary,
.sr-bb .srt-primary-13.srt-text-secondary {
  opacity: 0.7;
  -webkit-font-smoothing: antialiased;
}

.sr-bb .srt-primary-1 .srt-text-disabled,
.sr-bb .srt-primary-1.srt-text-disabled,
.sr-bb .srt-primary-1-is-active .srt-text-disabled,
.sr-bb .srt-primary-1-is-active.srt-text-disabled,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-disabled,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-disabled,
.sr-bb .srt-primary-1-is-disabled .srt-text-disabled,
.sr-bb .srt-primary-1-is-disabled.srt-text-disabled,
.sr-bb .srt-primary-2 .srt-text-disabled,
.sr-bb .srt-primary-2.srt-text-disabled,
.sr-bb .srt-primary-3 .srt-text-disabled,
.sr-bb .srt-primary-3.srt-text-disabled,
.sr-bb .srt-primary-4 .srt-text-disabled,
.sr-bb .srt-primary-4.srt-text-disabled,
.sr-bb .srt-primary-5 .srt-text-disabled,
.sr-bb .srt-primary-5.srt-text-disabled,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-disabled,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-disabled,
.sr-bb .srt-primary-6 .srt-text-disabled,
.sr-bb .srt-primary-6.srt-text-disabled,
.sr-bb .srt-primary-7 .srt-text-disabled,
.sr-bb .srt-primary-7.srt-text-disabled,
.sr-bb .srt-primary-8 .srt-text-disabled,
.sr-bb .srt-primary-8.srt-text-disabled,
.sr-bb .srt-primary-8-is-active-1 .srt-text-disabled,
.sr-bb .srt-primary-8-is-active-1.srt-text-disabled,
.sr-bb .srt-primary-8-is-active-2 .srt-text-disabled,
.sr-bb .srt-primary-8-is-active-2.srt-text-disabled,
.sr-bb .srt-primary-9 .srt-text-disabled,
.sr-bb .srt-primary-9.srt-text-disabled,
.sr-bb .srt-primary-10 .srt-text-disabled,
.sr-bb .srt-primary-10.srt-text-disabled,
.sr-bb .srt-primary-11 .srt-text-disabled,
.sr-bb .srt-primary-11.srt-text-disabled,
.sr-bb .srt-primary-12 .srt-text-disabled,
.sr-bb .srt-primary-12.srt-text-disabled,
.sr-bb .srt-primary-13 .srt-text-disabled,
.sr-bb .srt-primary-13.srt-text-disabled {
  opacity: 0.35;
}

.sr-bb .srt-primary-1 .srt-text-tertiary,
.sr-bb .srt-primary-1.srt-text-tertiary,
.sr-bb .srt-primary-1-is-active .srt-text-tertiary,
.sr-bb .srt-primary-1-is-active.srt-text-tertiary,
.sr-bb .srt-primary-1-is-hoverable:hover .srt-text-tertiary,
.sr-bb .srt-primary-1-is-hoverable:hover.srt-text-tertiary,
.sr-bb .srt-primary-1-is-disabled .srt-text-tertiary,
.sr-bb .srt-primary-1-is-disabled.srt-text-tertiary,
.sr-bb .srt-primary-2 .srt-text-tertiary,
.sr-bb .srt-primary-2.srt-text-tertiary,
.sr-bb .srt-primary-3 .srt-text-tertiary,
.sr-bb .srt-primary-3.srt-text-tertiary,
.sr-bb .srt-primary-4 .srt-text-tertiary,
.sr-bb .srt-primary-4.srt-text-tertiary,
.sr-bb .srt-primary-5 .srt-text-tertiary,
.sr-bb .srt-primary-5.srt-text-tertiary,
.sr-bb .srt-primary-5-is-hoverable:hover .srt-text-tertiary,
.sr-bb .srt-primary-5-is-hoverable:hover.srt-text-tertiary,
.sr-bb .srt-primary-6 .srt-text-tertiary,
.sr-bb .srt-primary-6.srt-text-tertiary,
.sr-bb .srt-primary-7 .srt-text-tertiary,
.sr-bb .srt-primary-7.srt-text-tertiary,
.sr-bb .srt-primary-8 .srt-text-tertiary,
.sr-bb .srt-primary-8.srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-1 .srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-1.srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-2 .srt-text-tertiary,
.sr-bb .srt-primary-8-is-active-2.srt-text-tertiary,
.sr-bb .srt-primary-9 .srt-text-tertiary,
.sr-bb .srt-primary-9.srt-text-tertiary,
.sr-bb .srt-primary-10 .srt-text-tertiary,
.sr-bb .srt-primary-10.srt-text-tertiary,
.sr-bb .srt-primary-11 .srt-text-tertiary,
.sr-bb .srt-primary-11.srt-text-tertiary,
.sr-bb .srt-primary-12 .srt-text-tertiary,
.sr-bb .srt-primary-12.srt-text-tertiary,
.sr-bb .srt-primary-13 .srt-text-tertiary,
.sr-bb .srt-primary-13.srt-text-tertiary {
  opacity: 0.54;
}

.sr-bb .srt-icon {
  opacity: 0.33;
}

.sr-bb .srt-icon-secondary {
  opacity: 0.7;
}

.sr-bb .srt-elevation-1 {
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.sr-bb .srt-elevation-2 {
  box-shadow:
    0px 3px 6px 0px rgba(0, 0, 0, 0.23),
    0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-elevation-3 {
  box-shadow:
    0px 6px 6px 0px rgba(0, 0, 0, 0.26),
    0px 10px 20px 0px rgba(0, 0, 0, 0.19);
}

.sr-bb .srt-elevation-center-2 {
  box-shadow:
    0 1px 5px rgba(0, 0, 0, 0.23),
    0 1px 5px rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-inset-top-1 {
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-bottom-1 {
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-top-2 {
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-bottom-2 {
  box-shadow: inset 0 -3px 6px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-top-3 {
  box-shadow: inset 0 6px 6px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-inset-bottom-3 {
  box-shadow: inset 0 -6px 6px 0 rgba(0, 0, 0, 0.23);
}

.sr-bb .srt-fill-blue-card {
  fill: #2579ad;
}

.sr-bb .srt-stroke-blue-card {
  stroke: #2579ad;
}

.sr-bb .srt-fill-green-card {
  fill: #2cbd00;
}

.sr-bb .srt-stroke-green-card {
  stroke: #2cbd00;
}

.sr-bb .srt-fill-soccer-yellow-card {
  fill: #ffbf00;
}

.sr-bb .srt-stroke-soccer-yellow-card {
  stroke: #ffbf00;
}

.sr-bb .srt-fill-soccer-red-card {
  fill: #e43b3b;
}

.sr-bb .srt-stroke-soccer-red-card {
  stroke: #e43b3b;
}

.sr-bb .srt-stroke-soccer-substitution-in {
  stroke: #4fbe30;
  fill: transparent;
}

.sr-bb .srt-fill-soccer-substitution-in {
  fill: #4fbe30;
}

.sr-bb .srt-stroke-soccer-substitution-out {
  stroke: #e43b3b;
  fill: transparent;
}

.sr-bb .srt-fill-soccer-substitution-out {
  fill: #e43b3b;
}

.sr-bb .srt-stroke-soccer-own-goal {
  stroke: #e43b3b;
  fill: transparent;
}

.sr-bb .srt-fill-soccer-own-goal {
  fill: #e43b3b;
}

.sr-bb .srt-fill-soccer-relegation-1 {
  fill: #fdd835;
}

.sr-bb .srt-stroke-soccer-relegation-1 {
  stroke: #fdd835;
}

.sr-bb .srt-fill-soccer-relegation-2 {
  fill: #ffb848;
}

.sr-bb .srt-stroke-soccer-relegation-2 {
  stroke: #ffb848;
}

.sr-bb .srt-fill-soccer-relegation-3 {
  fill: #ef6c00;
}

.sr-bb .srt-stroke-soccer-relegation-3 {
  stroke: #ef6c00;
}

.sr-bb .srt-fill-soccer-relegation-4 {
  fill: #e93a34;
}

.sr-bb .srt-stroke-soccer-relegation-4 {
  stroke: #e93a34;
}

.sr-bb .srt-fill-soccer-relegation-5 {
  fill: #941d1d;
}

.sr-bb .srt-stroke-soccer-relegation-5 {
  stroke: #941d1d;
}

.sr-bb .srt-fill-soccer-promotion-1 {
  fill: #51d151;
}

.sr-bb .srt-stroke-soccer-promotion-1 {
  stroke: #51d151;
}

.sr-bb .srt-fill-soccer-promotion-2 {
  fill: #1b911b;
}

.sr-bb .srt-stroke-soccer-promotion-2 {
  stroke: #1b911b;
}

.sr-bb .srt-fill-soccer-promotion-3 {
  fill: #0e8094;
}

.sr-bb .srt-stroke-soccer-promotion-3 {
  stroke: #0e8094;
}

.sr-bb .srt-fill-soccer-promotion-4 {
  fill: #0a6cce;
}

.sr-bb .srt-stroke-soccer-promotion-4 {
  stroke: #0a6cce;
}

.sr-bb .srt-fill-soccer-promotion-5 {
  fill: #4a9fe4;
}

.sr-bb .srt-stroke-soccer-promotion-5 {
  stroke: #4a9fe4;
}

.sr-bb .srt-nfl-timeout-1 {
  background-color: #f5a623;
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-nfl-timeout-2 {
  background-color: rgba(245, 166, 35, 0.3);
  color: #000000;
  border-color: rgba(0, 0, 0, 0.16);
}

.sr-bb .srt-nfl-penalty {
  background-color: #f4a621;
  color: #000000;
  border-color: #f4a621;
}

.sr-bb .srt-nfl-negative-yards-1 {
  background-color: #ac182e;
  color: #000000;
  border-color: #ac182e;
}

.sr-bb .srt-nfl-negative-yards-2 {
  background-color: #ac182e;
  color: #000000;
  border-color: #ac182e;
}

.sr-bb .srt-nfl-first-line {
  background-color: #4b90de;
  color: #000000;
  border-color: #4b90de;
}

.sr-bb .srt-nfl-ten-line {
  background-color: #f5a623;
  color: #000000;
  border-color: #f5a623;
}

.sr-bb .srt-fill-nfl-penalty {
  fill: #f4a621;
}

.sr-bb .srt-stroke-nfl-penalty {
  stroke: #f4a621;
}

.sr-bb .srt-fill-nfl-negative-yards-1 {
  fill: #ac182e;
}

.sr-bb .srt-stroke-nfl-negative-yards-1 {
  stroke: #ac182e;
}

.sr-bb .srt-fill-nfl-negative-yards-2 {
  fill: #ac182e;
}

.sr-bb .srt-stroke-nfl-negative-yards-2 {
  stroke: #ac182e;
}

.sr-bb .srt-fill-nfl-first-line {
  fill: #4b90de;
}

.sr-bb .srt-stroke-nfl-first-line {
  stroke: #4b90de;
}

.sr-bb .srt-fill-nfl-ten-line {
  fill: #f5a623;
}

.sr-bb .srt-stroke-nfl-ten-line {
  stroke: #f5a623;
}

.sr-bb .srt-mlb-run-1 {
  background-color: #009900;
  color: #ffffff;
  border-color: #009900;
}

.sr-bb .srt-mlb-run-2 {
  background-color: #ffffff;
  color: #009900;
  border-color: #009900;
}

.sr-bb .srt-mlb-hit-1 {
  background-color: #f7ab11;
  color: #ffffff;
  border-color: #f7ab11;
}

.sr-bb .srt-mlb-hit-2 {
  background-color: #ffffff;
  color: #f7ab11;
  border-color: #f7ab11;
}

.sr-bb .srt-mlb-hit-3 {
  background-color: #00a4ff;
  color: #ffffff;
  border-color: #00a4ff;
}

.sr-bb .srt-mlb-error-1 {
  background-color: #d0021b;
  color: #ffffff;
  border-color: #d0021b;
}

.sr-bb .srt-mlb-error-2 {
  background-color: #ffffff;
  color: #d0021b;
  border-color: #d0021b;
}

.sr-bb .srt-mlb-neutral-1 {
  background-color: #212121;
  color: #ffffff;
  border-color: #ffffff;
}

.sr-bb .srt-fill-mlb-base {
  fill: #00a4ff;
}

.sr-bb .srt-strole-mlb-base {
  fill: #00a4ff;
}

.sr-bb .srt-fill-change-increase {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-change-increase {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-change-decrease {
  fill: #f1f1f1;
}

.sr-bb .srt-stroke-change-decrease {
  stroke: #f1f1f1;
}

.sr-bb .srt-fill-text {
  fill: #ffffff;
}

.sr-bb .srt-fill-text-invert {
  fill: #000000;
}

.sr-bb .srt-fill-text-secondary {
  fill-opacity: 0.8;
}

.sr-bb .srt-fill-text-disabled {
  fill-opacity: 0.6;
}

.sr-bb .srt-fill-base-1 {
  fill: transparent;
}

.sr-bb .srt-stroke-base-1 {
  stroke: transparent;
}

.sr-bb .srt-fill-base-1-active {
  fill: rgba(252, 163, 17, 0.12);
}

.sr-bb .srt-stroke-base-1-active {
  stroke: rgba(252, 163, 17, 0.12);
}

.sr-bb .srt-fill-base-1-active-2 {
  fill: #1a213b;
}

.sr-bb .srt-stroke-base-1-active-2 {
  stroke: #1a213b;
}

.sr-bb .srt-fill-base-1-primary {
  fill: transparent;
}

.sr-bb .srt-stroke-base-1-primary {
  stroke: transparent;
}

.sr-bb .srt-fill-base-1-home {
  fill: transparent;
}

.sr-bb .srt-stroke-base-1-home {
  stroke: transparent;
}

.sr-bb .srt-fill-base-1-away {
  fill: transparent;
}

.sr-bb .srt-stroke-base-1-away {
  stroke: transparent;
}

.sr-bb .srt-fill-base-2 {
  fill: currentColor;
}

.sr-bb .srt-stroke-base-2 {
  stroke: currentColor;
}

.sr-bb .srt-fill-base-2-active {
  fill: #1e1b23;
}

.sr-bb .srt-stroke-base-2-active {
  stroke: #1e1b23;
}

.sr-bb .srt-fill-base-2-hover {
  fill: #1e1b23;
}

.sr-bb .srt-stroke-base-2-hover {
  stroke: #1e1b23;
}

.sr-bb .srt-fill-base-3 {
  fill: #1e1b23;
}

.sr-bb .srt-stroke-base-3 {
  stroke: #1e1b23;
}

.sr-bb .srt-fill-base-3-active {
  fill: #2b2222;
}

.sr-bb .srt-stroke-base-3-active {
  stroke: #2b2222;
}

.sr-bb .srt-fill-base-3-hover {
  fill: #2b2222;
}

.sr-bb .srt-stroke-base-3-hover {
  stroke: #2b2222;
}

.sr-bb .srt-fill-primary-1 {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-primary-1 {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-primary-2 {
  fill: #fdbf58;
}

.sr-bb .srt-stroke-primary-2 {
  stroke: #fdbf58;
}

.sr-bb .srt-fill-primary-3 {
  fill: #e3930f;
}

.sr-bb .srt-stroke-primary-3 {
  stroke: #e3930f;
}

.sr-bb .srt-fill-primary-4 {
  fill: #976519;
}

.sr-bb .srt-stroke-primary-4 {
  stroke: #976519;
}

.sr-bb .srt-fill-primary-5 {
  fill: #976519;
}

.sr-bb .srt-stroke-primary-5 {
  stroke: #976519;
}

.sr-bb .srt-fill-primary-6 {
  fill: #fdca75;
}

.sr-bb .srt-stroke-primary-6 {
  stroke: #fdca75;
}

.sr-bb .srt-fill-primary-7 {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-primary-7 {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-primary-8 {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-primary-8 {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-primary-8-is-active-1 {
  fill: #e3930f;
}

.sr-bb .srt-stroke-primary-8-is-active-1 {
  stroke: #e3930f;
}

.sr-bb .srt-fill-primary-8-is-active-2 {
  fill: #e3930f;
}

.sr-bb .srt-stroke-primary-8-is-active-2 {
  stroke: #e3930f;
}

.sr-bb .srt-fill-primary-9 {
  fill: #4c371f;
}

.sr-bb .srt-stroke-primary-9 {
  stroke: #4c371f;
}

.sr-bb .srt-fill-primary-10 {
  fill: #ca8415;
}

.sr-bb .srt-stroke-primary-10 {
  stroke: #ca8415;
}

.sr-bb .srt-fill-primary-11 {
  fill: #e3930f;
}

.sr-bb .srt-stroke-primary-11 {
  stroke: #e3930f;
}

.sr-bb .srt-fill-primary-12 {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-primary-12 {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-home-1 {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-home-1 {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-home-2 {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-home-2 {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-home-3 {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-home-3 {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-home-4 {
  fill: #b07517;
}

.sr-bb .srt-stroke-home-4 {
  stroke: #b07517;
}

.sr-bb .srt-fill-home-5 {
  fill: #fdc364;
}

.sr-bb .srt-stroke-home-5 {
  stroke: #fdc364;
}

.sr-bb .srt-fill-away-1 {
  fill: #f1f1f1;
}

.sr-bb .srt-stroke-away-1 {
  stroke: #f1f1f1;
}

.sr-bb .srt-fill-away-2 {
  fill: #f1f1f1;
}

.sr-bb .srt-stroke-away-2 {
  stroke: #f1f1f1;
}

.sr-bb .srt-fill-away-3 {
  fill: #f1f1f1;
}

.sr-bb .srt-stroke-away-3 {
  stroke: #f1f1f1;
}

.sr-bb .srt-fill-away-4 {
  fill: #a9abb4;
}

.sr-bb .srt-stroke-away-4 {
  stroke: #a9abb4;
}

.sr-bb .srt-fill-away-5 {
  fill: #f6f6f6;
}

.sr-bb .srt-stroke-away-5 {
  stroke: #f6f6f6;
}

.sr-bb .srt-fill-neutral-1 {
  fill: #212841;
}

.sr-bb .srt-stroke-neutral-1 {
  stroke: #212841;
}

.sr-bb .srt-fill-neutral-2 {
  fill: #e6e6e9;
}

.sr-bb .srt-stroke-neutral-2 {
  stroke: #e6e6e9;
}

.sr-bb .srt-fill-neutral-3 {
  fill: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-stroke-neutral-3 {
  stroke: rgba(255, 255, 255, 0.12);
}

.sr-bb .srt-fill-neutral-4 {
  fill: #a6a9b3;
}

.sr-bb .srt-stroke-neutral-4 {
  stroke: #a6a9b3;
}

.sr-bb .srt-fill-neutral-5 {
  fill: #bfc1c9;
}

.sr-bb .srt-stroke-neutral-5 {
  stroke: #bfc1c9;
}

.sr-bb .srt-fill-neutral-6 {
  fill: #3d4359;
}

.sr-bb .srt-stroke-neutral-6 {
  stroke: #3d4359;
}

.sr-bb .srt-fill-neutral-7 {
  fill: #a6a9b3;
}

.sr-bb .srt-stroke-neutral-7 {
  stroke: #a6a9b3;
}

.sr-bb .srt-fill-neutral-8 {
  fill: #212841;
}

.sr-bb .srt-stroke-neutral-8 {
  stroke: #212841;
}

.sr-bb .srt-fill-neutral-9 {
  fill: #0f1732;
}

.sr-bb .srt-stroke-neutral-9 {
  stroke: #0f1732;
}

.sr-bb .srt-fill-neutral-10 {
  fill: #1f263f;
}

.sr-bb .srt-stroke-neutral-10 {
  stroke: #1f263f;
}

.sr-bb .srt-fill-neutral-11 {
  fill: #666b7c;
}

.sr-bb .srt-stroke-neutral-11 {
  stroke: #666b7c;
}

.sr-bb .srt-fill-neutral-12 {
  fill: #b3b5be;
}

.sr-bb .srt-stroke-neutral-12 {
  stroke: #b3b5be;
}

.sr-bb .srt-fill-neutral-13 {
  fill: #1a213b;
}

.sr-bb .srt-stroke-neutral-13 {
  stroke: #1a213b;
}

.sr-bb .srt-fill-win {
  fill: var(--brand-secondary);
}

.sr-bb .srt-stroke-win {
  stroke: var(--brand-secondary);
}

.sr-bb .srt-fill-draw {
  fill: rgba(255, 255, 255, 0.4);
}

.sr-bb .srt-stroke-draw {
  stroke: rgba(255, 255, 255, 0.4);
}

.sr-bb .srt-fill-lose {
  fill: #f1f1f1;
}

.sr-bb .srt-stroke-lose {
  stroke: #f1f1f1;
}

.sr-bb .srt-stop-base-1 {
  stop-color: transparent;
}

.sr-bb .srt-stop-primary-1 {
  stop-color: var(--brand-secondary);
}

.sr-bb .srt-stop-primary-2 {
  stop-color: #fdbf58;
}

.sr-bb .srt-stop-primary-3 {
  stop-color: #e3930f;
}

.sr-bb .srt-stop-primary-4 {
  stop-color: #976519;
}

.sr-bb .srt-stop-primary-5 {
  stop-color: #976519;
}

.sr-bb .srt-stop-primary-6 {
  stop-color: #fdca75;
}

.sr-bb .srt-stop-primary-7 {
  stop-color: var(--brand-secondary);
}

.sr-bb .srt-stop-primary-8 {
  stop-color: var(--brand-secondary);
}

.sr-bb .srt-stop-primary-9 {
  stop-color: #4c371f;
}

.sr-bb .srt-stop-primary-10 {
  stop-color: #ca8415;
}

.sr-bb .srt-stop-primary-11 {
  stop-color: #e3930f;
}

.sr-bb .srt-stop-primary-12 {
  stop-color: var(--brand-secondary);
}

.sr-bb .srt-stop-home-1 {
  stop-color: var(--brand-secondary);
}

.sr-bb .srt-stop-away-1 {
  stop-color: #f1f1f1;
}

.sr-bb .srt-fill-neutral-14 {
  fill: #000825;
}

.sr-bb .srt-stroke-neutral-14 {
  stroke: #000825;
}

.sr-bb .srt-logo-powered-by-light {
  display: none;
}

.sr-bb .srt-logo-powered-by-dark {
  display: inline-block;
}
